.signin-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #ffffff;
  padding: 30px;
  overflow: hidden; 
}

.signin-container {
  background: #f2f2f2;
  padding: 0px;
  border-radius: 20px;
  box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 500px;
  height: 400px;
  margin-top: 100px;
}

h2 {
  color: #0077a3;
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
}

h2 span {
  color: #0077a3;
}

.divider {
  width: 100%;
  height: 4px;
  background: #ff6b6b;
  margin: 15px auto;
}

label {
  display: block;
  font-size: 18px;
  text-align: left;
  margin-top: 15px;
  font-weight: bold;
}

input {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  border-radius: 8px;
  border: 1px solid #ccc;
  margin-top: 5px;
}

.input-icon {
  position: relative;
}

.input-icon input {
  padding-right: 40px;
}

.icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: gray;
  cursor: pointer;
}

.password-container {
  margin-top: 15px;
}

.signin-submit-btn {
  width: 100%;
  padding: 15px;
  font-size: 18px;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  background: linear-gradient(to right, #ff4b2b, #ff416c);
  color: white;
  cursor: pointer;
  transition: 0.3s;
}

.signin-back-btn {
  width: 100%;
  padding: 15px;
  font-size: 18px;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  background: linear-gradient(to right, #359bbd, #ff914d);
  color: white;
  cursor: pointer;
  transition: 0.3s;
}


.submit-btn:hover {
  opacity: 0.8;
}

.image-section {
  margin-top: 100px;
  max-width: 50%;
  border-radius: 10px;
  display: flex;
  justify-content: center;
}

.form-container {
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 10px;
  overflow-y: auto; 
  max-height: none; 
}

.signin-page {
  padding-bottom: 10px; 
}

.signin-buttons-container {
  display: flex;
  flex-direction: row; 
  gap: 30px;
  align-items: center; /* Center buttons */
  width: 100%;
}